<!-- Паршиал отображения инфы о заказе -->
<div class="container">
  <div class="row">
    <div class="сol-md-3">
      <h3><%= order.date %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.city %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.street %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.house %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.housing %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.flat %></h3>
    </div>
    <div class="сol-md-2">
      <h3><%= order.phone %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.furniture %></h3>
    </div>
    <div class="сol-md-1">
      <h3><%= order.carpet %></h3>
    </div>
  </div>
</div>
